<% layout('layout') -%>

<script type="text/template" id="serverTemp">
  <div class="server" id="{{property}}">
    <div class="serverInfo">
    <div class="serverName">{{name}}</div>
    <div class="server-details">
      <div class="loadAverage1"></div>

    </div>
    </div>


  </div>



</script>






